.contenedor {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    background: linear-gradient(to bottom, lightblue, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoIngresada {
    text-align: left;
    width: 200px;
    height: 50px;
}

.inputId {
    text-align: justify;
    width: 150px;
}

.boton{
    width: 200px;
}

.tituloLabel{
    width: 30px;
}
