.contenedor {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    background: linear-gradient(to bottom, lightblue, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
}

